# Frontend
VITE_API_URL=http://localhost:3333

# Backend
PORT=3333
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=troque-este-segredo-em-producao

# Banco local padrão
DATABASE_PROVIDER=sqlite
DATABASE_URL=file:./dev.db

# Banco em nuvem AWS RDS PostgreSQL
# DATABASE_PROVIDER=postgres
# DATABASE_URL=postgresql://avaliatech:SENHA@avaliatech.xxxxxx.sa-east-1.rds.amazonaws.com:5432/avaliatech
# PGSSLMODE=require
